@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Work Sans;
}
#main {
  background-color: #522e7985;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#main-body {
  width: 85%;
  height: 80%;
  background-color: #6B5186;
  display: flex;
  border-radius: 0.5rem;
}
.part1 {
  width: 25%;
  height: 100%;
}
.part2 {
  width: 65%;
  height: 100%;
  background-image: url(img/photo-1621784563330-caee0b138a00.avif);
  background-position-y: -300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.blur {
  background-color: #5b51668e;
  height: 100%;
  width: 100%;
}
.part3 {
  width: 10%;
  height: 100%;
}

.main-text {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 5rem;
  font-size: 3rem;
  font-weight: 800;
  position: absolute;
  left: 300px;
  bottom: 260px;
}
.img {
  width: 300px;
  height: 400px;
  background-image: url(img/photo-1621784564114-6eea05b89863.avif);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 250px;
  transform: translate(0, 50%);
  border-radius: 0.8rem;
}
.img > img {
  width: 100%;
}
.img > .blur {
  background-color: #5b516662;
  border-radius: 0.8rem;
}

.stroke-text {
  opacity: 35%;
  color: transparent;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 800;
  position: absolute;
  right: -260px;
  bottom: 450px;
  transform: rotate(-90deg);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
}

@media screen and (max-width: 1750px) {
  #main-body {
    width: 83%;
  }
  .part1 {
    width: 20%;
  }
  .part2 {
    width: 70%;
  }
  .part3 {
    width: 5%;
  }
  .main-text {
    font-size: 2.5rem;
    left: 250px;
    line-height:4rem;
  }
  .img {
    width: 300px;
    height: 350px;
    right: 230px;
    transform: translate(0, 70%);
  }
}

@media screen and (max-width: 1500px) {
  #main-body {
    width: 80%;
  }
  .main-text {
    left: 230px;
  }
}
@media screen and (max-width: 1450px) {
  #main-body {
    width: 85%;
  }
  .main-text {
    line-height: 4rem;
    left: 180px;
  }
  .img {
    width: 280px;
    height: 330px;
    right: 180px;
  }
  .stroke-text{
    right: -300px;
  }

}
@media screen and (max-width: 1300px) {
  #main-body {
    width: 90%;
  }
  .main-text {
    left: 120px;
  }
  .img {
    right: 120px;
  }
  .stroke-text{
    right: -350px;
  }

}
@media screen and (max-width: 1150px) {
  .stroke-text{
    right: -370px;
  }

}
@media screen and (max-width: 1065px) {
  .part2 {
    background-position-y: 0px;
  }
  .main-text {
    font-size: 2rem;
    left: 100px;
    line-height: 55px;
  }
  .img {
    width: 250px;
    height: 300px;
    right: 100px;
  }
  .stroke-text{
    right: -385px;
  }

}
@media screen and (max-width: 900px) {
  .part2 {
    width: 68%;
  }
  .main-text {
    line-height: 50px;
  }
  .img {
    width: 200px;
    height: 280px;
    right: 80px;
  }
  .stroke-text{
    right: -380px;
  }

}
@media screen and (max-width: 800px) {
  .stroke-text{
    right: -390px;
  }

}
@media screen and (max-width: 750px) {
  .stroke-text{
    right: -400px;
  }

}
@media screen and (max-width: 650px) {
  .main-text {
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
    left: 60px;
  }
  .part2 {
    width: 65%;
  }
  .stroke-text {
    font-size: 2.1rem;
    font-weight: 500;
    right: -310px;
    bottom: 400px;
  }
  .img {
    width: 180px;
    height: 250px;
    transform: translate(0, 110%);
  }

}
@media screen and (max-width: 600px) {
  #main-body {
    height: 70%;
  }
  .part2 {
    width: 60%;
    background-position-x: -50px;
  }
  .stroke-text {
    font-size: 2rem;
    right: -280px;
  }
  .img {
    width: 160px;
    height: 230px;
    transform: translate(0, 110%);
  }

}
@media screen and (max-width: 550px) {
  .part1 {
    width: 0%;
  }
  .part2 {
    width: 100%;
  }
  .part3 {
    width: 0%;
  }
  .stroke-text {
    font-size: 2rem;
    right: -310px;
  }
  .img {
    width: 130px;
    height: 200px;
    right: 50px;
    transform: translate(0, 140%);
  }

}
@media screen and (max-width: 500px) {
  .part2 {
    width: 90%;
  }
  .main-text {
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
    font-size: 1.1rem;
    left: 35px;
  }
  .stroke-text {
    font-size: 1.5rem;
    right: -225px;
  }
  .img {
    height: 200px;
    right: 50px;
    transform: translate(0, 140%);
  }

}
@media screen and (max-width: 400px) {
  
  #main-body {
    width: 85%;
    height: 75%;
  }
  .main-text {
    letter-spacing: .1px;
    line-height: 1.8rem;
    font-size: 1.1rem;
    left: 35px;
    bottom: 190px;
  }
  .img{
    width: 100px;
    height: 150px;
    right: 40px;
    transform: translate(0, 200%);
  }
  .stroke-text {
    font-size: 1.5rem;
    right: -215px;
    bottom: 300px;
  }

}